@gold: #b6a269;

.footer {
    padding: .4rem;
    background: #000000;
    color: @gold;
    text-align: center;
    .more {
        margin-bottom: .1rem;
        height: .21rem;
        line-height: .21rem;
        font-size: .15rem;
        font-family: DINCond-Bold, sans-serif !important;
        letter-spacing: .03rem;
    }
    .email {
        margin-bottom: .1rem;
        height: .16rem;
        line-height: .16rem;
        font-size: .12rem;
        font-family: sans-serif;
    }
    .icons {
        font-size: .25rem;
        letter-spacing: .1rem;        
    }
}