@import './common/style/fontface/FontFace.less';
@import './common/style/reset.less';
@import './common/style/pc.less';
@import './common/style/wap.less';

@dark: #2e2925;
@light: #ebe8e5;
@gold: #b6a269;

body {
    font-size: .16rem;
    font-family: PingFangSC-Light, "\5FAE\8F6F\96C5\9ED1", "Hiragino Sans GB",arial
}
body.clip {
    overflow: hidden;
}

h3 {
    font-size: .2rem;
}

p {
    font-size: .16rem;
}

.gold {
    color: @gold;
}

.btn-wrapper {
    display: block;
    margin-top: .4rem;
    text-align: center;
}
.btn {
    display: inline-block;
    width: 2.14rem;
    height: .46rem;
    margin: .15rem;
    border: .03rem solid #000000;
    line-height: .46rem;
    font-size: .2rem;
    text-align: center;
    transition: background-color .2s, color .2s;
    &:hover,
    &.emb {
        background: #000000;
        color: #ffffff;
    }
    &.btn-en {
        font-family: DINCond-Bold, sans-serif !important;
        letter-spacing: .03rem;
    }
}
.btn.btn-black {
    border-color: #ffffff;
    color: #ffffff;
    &:hover,
    &.emb {
        background: #ffffff;
        color: #000000;
    }
}

// block
.block-2-col {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: .1rem 0;
    font-size: 0;
    .col {
        width: 50%;
        @media screen and (max-width: 450px) {
            width: 100%;
        }
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        p {
            width: 100%;
        }
    }
}

// text
.text-gold {
    color: @gold !important;
}
.text-topic {
    margin: .03rem 0 .2rem;
    line-height: .25rem;
    font-size: .18rem;
    color: @gold;
    text-align: center;
}
.text-title-big {
    margin: .03rem 0 .4rem;
    line-height: .68rem;
    font-size: .54rem;
    color: #000;
    text-align: center;
    @media screen and (max-width: 750px) {
        line-height: .34rem;
        font-size: .27rem;
    }
}
.text-title {
    margin: .03rem 0 .2rem;
    line-height: .34rem;
    font-size: .27rem;
    color: #000;
    text-align: center;
}
.text-title-small {
    margin: .03rem 0 .1rem;
    line-height: .28rem;
    font-size: .24rem;
    color: #000;
    text-align: center;
}
.text-text {
    line-height: .24rem;
    font-size: .16rem;
    color: #000;
    text-align: center;
}